rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{congregations=**} {
      allow read, write: if  true //get(/databases/$(database)/documents/congregations/$(cong)).data.id == "testID" || true;
    }
  }
}